*{
    margin: 0;
}

body{
    text-align: center;
    font-family: 'Cute Dino';
}

header{
    margin-top: 10px;
    width: 100%;
    height: 75px;
    font-size: xx-large;
    text-align: center;
    border-bottom: 12px solid black;
}

footer{
    background-color: black;
    color: white;
}

.menu{
    width: 100%;
    height: 550px;
    margin-top: 45px;
    margin-bottom: 45px;
    justify-content: center;
    display: flex;
}

.pxf{
    width: 450px;
    height: 450px;
    min-width: 150px;
    min-height: 150px;
    margin-left: 15px;
    margin-right: 15px;
    border: 16px solid yellow;
    border-radius: 55px;
}

.h2-suptitle{
    margin-top: 12px;
    font-size: xx-large;
    border-bottom: 14px solid yellow;
}

.maquinita-img{
    width: 100%;
    height: 87%;
    border-radius: 0px 0px 35px 35px;
}


img{
    width: 120px;
}

.separador {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

.name_title, .creadores, .license{
    color: red;
    display: block;
    text-decoration: none;
}

.cc-icon{
    max-width: 1em;
    max-height: 1em;
    margin-left: 0.2em;
}

a.creadores::before {
    content: "© 2025 por ";
    color: white;
}

.Copyright a.license::before {
    content: "Está licenciado bajo ";
    color: white;
}

@font-face {
    font-family: 'Cute Dino';
    src: url('../assets/fonts/cutedino-jpp0j.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}