@font-face {
    font-family: 'Cute Dino';
    src: url('../assets/fonts/cutedino-jpp0j.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* { 
    margin: 0;
}

body {
    background: #0F2A71;
    font-family: 'Cute Dino', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 60px;
    padding-top: 18px;
    font-size: xx-large;
    border-bottom: 10px solid #081430;
    background-color: #0F2A71;  
    color: white;
}
.Maquina_P{
    width: 100%;
}


.Ma_Superior {
    background-color: #FFCD45;
    border-bottom: 12px solid #C88C0A;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
    width: 100%;
}

.estante1, .estante2 {
    width: 100%;
    height: 140px;
    margin: 15px;
    position: relative;
    display: flex;
    background-color: #FFFDF0;
    border-top: 6px solid #D8D6C7;
    border-bottom: 6px solid #D8D6C7;
}

.S_I1 {
    width: 50%;
    height: 100%;
    margin-bottom: 0;
    display: flex;
    position: relative;
    overflow: hidden;
}

.name_G{
    width: 50px;
    height: 20px;
    margin-left: 30%;
    margin-top: 2px;
    padding: 2px;
    font-size: x-large;
    text-align: center;
    z-index: 5;
    border: 4px solid brown;
    border-radius: 25%;
}

.S_B1, .S_B1_1 {
    position: absolute;
    max-width: 75%;
    max-height: 75%;
    top: 35px;
}

.S_B1 {
    z-index: 2; 
    left: 20px;
    border-radius: 50%;
}

.S_B1_1 {
    z-index: 1; 
    left: 28%;
}

.Ma_Inferior {
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    background: none;
    overflow: hidden;
    background: #FFDB60;
}

.maquina-izq {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    padding-left: 18px;
}

.ranura {
    width: 8px;
    height: 65px;
    background: #C88C0A;
    border-radius: 25%;
    border: 1.5px solid #FFCD45;
    margin-left: 75%;
    margin-bottom: 55px;
}

.rueda {
    width: 85px;
    height: 85px;
    background: #2a4eb7;
    border-radius: 50%;
    border: 4px solid #0F2A71;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 110px;
    margin-left: 25px;
}

.rueda-marca {
    width: 65px;
    height: 12px;
    background: #1a388b;
    border-radius: 7px;
    transform: rotate(-30deg);
}

.personas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 8px;
    margin-bottom: 12px;
}

.persona {
    display: flex;
    align-items: center;
    gap: 8px;
}

.Me1mori, .Toya {
    width: 25px;
    height: 25px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 0;
}

.nombre-personaje {
    font-size: 1em;
    font-weight: bold;
    font-family: 'Cute Dino', sans-serif;
    margin: 0;
    padding: 0;
    display: block;
}

.maquina-der {
    width: 30%;
    height: 100%;
    position: relative;
    align-items: flex-end;
    background: #2a4eb7;
    margin-right: 25px;
}

.fondo-azul {
    position: absolute;
    left: 0; right: 0; bottom: 0; top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.linea-blanca {
    width: 3px;
    height: 100%;
    background: #fff;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.linea-blanca.izq {
    left: 50%;
    transform: translateX(-28px);
}
.linea-blanca.der {
    left: 50%;
    transform: translateX(28px);
}

.puerta {
    width: 65%;
    height: 40%;
    background: #FFCD45;
    border-radius: 75% 75% 0px 0px;
    border: 3px solid #FFCD45;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 3;
    overflow: visible;
}

.puerta::after {
    content: "";
    display: block;
    width: 95%;
    height: 65%;
    background: #7a3a00;
    border-radius: 175px 175px 0px 0px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.separador {
    width: 100%;
    height: 10dvh;
    background: #0F2A71;
    border-top: 12px solid #0e1e47;
    border-bottom: 12px solid #0e1e47;
}

footer {
    width: 100%;
    background-color: #0F2A71;
    padding-top: 10px;
    box-sizing: border-box;
}

.name_title, .creadores, .license {
    color: #FFCD45;
    display: block;
    text-decoration: none;
}

.cc-icon {
    max-width: 1em;
    max-height: 1em;
    margin-left: 0.2em;
}

a.creadores::before {
    content: "© 2025 por ";
    color: white;
}

.Copyright a.license::before {
    content: "Está licenciado bajo ";
    color: white;
}
