@font-face {
    font-family: 'Cute Dino';
    src: url('../assets/fonts/cutedino-jpp0j.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    position: relative;
}

body {
    background-image: url('../img/background-img.jpg');
    font-family: 'Cute Dino', sans-serif;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    margin-top: 0;
    z-index: 1;
    position: relative;
}

.titulo {
    font-size: 3em;
    color: #fff;
    margin: 0.2em 0 0 0;
    letter-spacing: 0.05em;
    text-shadow: 2px 2px 0 #a44a0a;
}

/*Todo: Contenedor principal */
.contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    z-index: 1;
    min-height: unset;
    height: 40vh;
    min-height: 0;
    padding-top: 45px;
    flex: 1;
}

.btn-lateral {
    writing-mode: vertical-rl;
    position: absolute;
    transform: rotate(180deg);
    background: #fc5500;
    color: #fff;
    border: none;
    font-size: 2em;
    font-family: 'Luckiest Guy', 'Comic Sans MS', cursive;
    padding: 0.5em 0.2em;
    border-radius: 1em 0 0 1em;
    left: 0;
    cursor: pointer;
}

.maquina-centro {
    background: #9c3400;
    top: 0;
    border-radius: 2em;
    padding: 15px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bolita {
    width: 90px;
    margin-bottom: -5px;
    z-index: 2;
    position: relative;
}

.maquinita {
    width: 260px;
    border-radius: 1em;
    border: 5px solid #9c3400;
    background: #fff;
    left: 55%;
}

.btn-historial {
    width: 100vw;
    background: #9c3400;
    color: #fff;
    font-size: 2em;
    font-family: 'Luckiest Guy', 'Comic Sans MS', cursive;
    border: none;
    border-radius: 0;
    padding: 0.5em 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    letter-spacing: 0.05em;
    cursor: pointer;
}


/*TODO: Footer styles*/
/*! No touch*/

footer {
    width: 100%;
    height: 125px;
    padding-top: 15px;
    bottom: 0;
    box-sizing: border-box;
    background-color: #000;
    color: white;
}

.name_title, .creadores, .license {
    color: yellow;
    display: block;
    text-decoration: none;
}

.cc-icon {
    max-width: 1em;
    max-height: 1em;
    margin-left: 0.2em;
}

a.creadores::before {
    content: "© 2025 por ";
    color: white;
}

.Copyright a.license::before {
    content: "Está licenciado bajo ";
    color: white;
}