DirectoryIndex index.html

# Habilitar el motor de reescritura
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si la petición no es un archivo o directorio real
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Reescribe /algo a /algo.html
    RewriteRule ^(.+)$ $1.html [L]
</IfModule>

# Configurar la página de error 404
ErrorDocument 404 /404.html
